@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}
.card {
    background-color: #FAFAFA;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    margin: 15px 0 15px 0;
 }
.brand {
    height: 25px;
}
