@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
body {
    margin-left: 100px;
    margin-right:100px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #EAEAEA;
}
.card {
    background-color: #FAFAFA;
    padding: 8px;
    border-radius: 5px;
    box-shadow: -4px 4px 5px #888888;
}
.row {
    padding-bottom: 30px;
}
