@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
body {
    margin-left: 100px;
    margin-right:100px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #EAEAEA;
}
.card {
    background-color: #FAFAFA;
    padding: 8px;
    border-radius: 5px;
    border-color: #888888;
    transition: box-shadow 0.5s ease;
 }
.card:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0px 4px 5px #888888;
}
.row {
    padding-bottom: 30px;
}
